span {
  color: black;
  font-size: 32px;
  position: relative;
  left: 200px;
  top: 30px;
  font-weight: 800;
}
ul {
  display: inline-block;
  margin: auto;
}

li {
  display: inline-block;
}
a {
  color: black;
  text-decoration: none;
  border: solid black 2px;
  border-radius: 23px;
  position: relative;
  left: 300px;
  top: 30px;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 20px;
}
a:hover {
  background: blue;
}
h1 {
  font-size: 40px;
  position: relative;
  top: 140px;
  left: 197px;
}
img {
  position: relative;
  left: 720px;
  top: 60px;
  width: 400px;
}
p {
  font-size: 23px;
  width: 400px;
  height: 200px;
  text-align: justify;
  position: relative;
  left: 200px;
  bottom: 100px;
}
.li2 {
  position: relative;
  bottom: 190px;
  right: 120px;
  height: 20px;
}
.a2 {
  font-size: 22px;
  border-radius: 23px;
}
